﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L01</title>

    <environment include="Development">
        <!--Font-Awesome-->
        <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
        <!-- Use Select 2 -->
        <link rel="stylesheet" href="~/dist/plugins/select2/select2.min.css" />
        <!-- Admin LTE Style -->
        <link rel="stylesheet" href="~/css/adminlte.css" />
        <!-- Use Google font -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Roboto&display=swap" rel="stylesheet">
        <!--Date Time Picker-->
        <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
        <!-- Customize owner Style  -->
        <link rel="stylesheet" href="~/css/custom.css" />
    </environment>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            @RenderSection("Breadcrumb", required: false)
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">@*<i class="fa fa-bars"></i>*@</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light" text-align="center">L01</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!--Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fa fa-home"></i>
                                <p> Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa fa-bar-chart"></i>
                                <p>General Operations<i class="right fa fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Customer" asp-action="Index" class="nav-link">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <p>Customer</p>
                                    </a>
                                </li>
                            </ul>
                        </li><!--nav-item has-treeview-->

                        <li class="nav-item has-treeview">
                            <a href="~/buttons.html" class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    Products
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Products</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Customer" asp-action="Index" class="nav-link">
                                        <i class="fa fa-address-card-o nav-icon" aria-hidden="true"></i>
                                        <p>Category</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-cogs"></i>
                                <p>
                                    Settings
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="CustomerType" asp-action="Index" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Customer Type</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="LoanType" asp-action="LoanType" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Loan Type</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color:#fbfbfb;font-family: 'Roboto', sans-serif;font-size:13px;font-weight:normal;">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script src="~/js/jquery.min.js"></script>
    <!-- InputMask -->
    <script src="~/dist/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/dist/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/dist/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/dist/plugins/select2/select2.full.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/adminlte.min.js"></script>
    <!--Date Time Packer -->
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
