.elevation-4{box-shadow:none;}
.sidebar-dark-primary {
    background-color: #89b3b9;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #ffffff;
    background-color: #03A9F4;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link {
    color: #ffffff;
    background-color: rgba(255,255,255,.1);
    font-family: 'Roboto', sans-serif;
    font-size:13px;
    font-weight:normal;
}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover {
    color: #343a40;
    background-color: #e3f2fd4f;
}
.sidebar-dark-primary .nav-treeview > .nav-item > .nav-link {
    color: #C2C7D0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.content-wrapper {
    padding: 15px;
    height: 100vh;
    overflow: auto;
}
.wrapper, body, html {
    min-height: 100%;
    overflow: hidden;
}
[class*=sidebar-dark] .brand-link {
    color: rgba(255,255,255,.8);
    border-bottom: 1px solid #90969c;
}
.submib-fixed {
    position: absolute;
    bottom: 0;
    background-color: #f6f8f8;
    padding: 20px;
    border-top: 1px solid #e3dada;
}

.lb-sm {
    font-weight: normal;
}
#border {
    border-top: 1px solid #d5d0d0 !important;
}
.cus_table {
    font-family: 'Roboto', sans-serif;
    font-size:13px;
}
.breadcrumb-nav {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}