﻿@model L01.Models.CustomerType;
@{
    ViewData["Title"] = "Customer Type Add";
}
@section Breadcrumb{
    <ul class="navbar-nav breadcrumb-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home / CustomerType / Add</a>
        </li>
    </ul>
}
    <form asp-controller="CustomerType" asp-action="Add" method="post">
        <div class="row" style="margin-bottom:105px !important;">
            <div class="col-sm-4">
                <div class="col">
                    <h4>Customer Type.</h4>
                    <p>Please, Fill Customer Type Information.</p>
                </div>
            </div><!--end col-sm-4-->
            <div class="col-sm-8">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="row">
                            <input type="hidden" name="id" id="id" asp-for="Id" />
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" style="font-weight:normal;">Name</label>
                                    <input type="text" name="name" id="name" asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger">Field Name is Required.</span>
                                </div>
                            </div><!--col-sm-6-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" style="font-weight:normal;">Customer Type</label>
                                    <select class="form-control" style="width:100%;" asp-for="ParentId" asp-items="@(new SelectList(ViewBag.item,"Id","Name"))">
                                        <option>None</option>
                                    </select>
                                </div>
                            </div><!--col-sm-6-->
                        </div>
                    </div><!--card-body-->
                </div><!--end Card-default of main-->
            </div><!--end col-sm-8-->
        </div><!--end row of main fomr-->
        <div class="submib-fixed" style="position: fixed; bottom: 0%; left: 0%; background-color: #fbfbfb; width: 100%; padding: 8px; border-top:1px solid #ebe8e8;">
            <a class="btn btn-outline-danger pull-right btn-sm" asp-area="" asp-controller="CustomerType" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-outline-primary btn-sm pull-right" style="margin-right: 10px;padding: 4px 12px 5px 12px;" id="submit">Save</button>
        </div>
    </form>
@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $('.text-danger').hide();
            $("#submit").on("click", function(e){
                var name = $("#name").val();
                var a = "";
                if (name == "" || name == undefined) {
                    $('.text-danger').show();
                    return false;
                }
            });   
        });
    </script>
}