﻿@model L01.Logic.PaginatedList<L01.Models.CustomerType>
@{
    ViewData["Title"] = "CustomerType";
}
@section Breadcrumb{
    <ul class="navbar-nav breadcrumb-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home / CustomerType</a>
        </li>
    </ul>
    <ul class="navbar-nav" style="position: absolute; right: 0; margin-right: 20px; ">
        <li class="nav-item">
            <a asp-area="" asp-controller="CustomerType" asp-action="Add" class="btn btn-primary btn-sm" style="margin-right: 8px;">
                <i class="fa fa-plus-square-o" aria-hidden="true" style="margin-right: 5px;"></i>Add
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success btn-sm" asp-area="" asp-controller="CustomerType" asp-action="ExportExcel" style="margin-right: 8px;">
                <i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 5px;"></i>Export
            </a>
        </li>
        <li class="nav-item">
            <button class="btn btn-danger btn-sm"><i class="fa fa-print" aria-hidden="true" style="margin-right: 5px;"></i>Print</button>
        </li>
    </ul>
}
<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <table class="table table-hover cus_table" id="customeType">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Customer Type</th>
                    <th style="text-align:right;">Actions</th>
                </tr>
                @{
                    if (Model.Count > 0)
                    {
                        var customerTypes = from cus in Model
                                            join p in Model on cus.ParentId equals p.Id into pa
                                            from pr in pa.DefaultIfEmpty()
                                            select new
                                            {
                                                cus.Id,
                                                cus.Name,
                                                parent = pr == null ? "-" : pr.Name
                                            };
                        foreach (var obj in customerTypes)
                        {
                            <tr id="border">
                                <td></td>
                                <td>@obj.Name</td>
                                <td>@obj.parent</td>
                                <td style="text-align:right;">
                                    <div class="btn-group">
                                        <a asp-area="" asp-controller="CustomerType" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a asp-area="" asp-controller="CustomerType" asp-action="Remove" asp-route-id="@obj.Id" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                            <tr id="border">
                                <td></td>
                                <td>No Data.</td>
                                <td></td>
                                <td></td>
                            </tr>
                    }
                }
            </table>
        </div>
    </div><!--card-body-->
</div><!--end card card-default of table-->
@section Scripts{ 
<script type="text/javascript">
    $(document).ready(function () {
        var addrow = function (cl) {
            var table = document.querySelector('#customeType' + cl);
            var trs = table.querySelectorAll('tr');
            var counter = 1;
            Array.prototype.forEach.call(trs,
                function (x, i) {
                    var firstChild = x.children[0];
                    if (firstChild.tagName === 'TD') {
                        var cell = document.createElement('td');
                        cell.textContent = counter++;
                        x.insertBefore(cell, firstChild);
                    } else {
                        firstChild.setAttribute('colspan', 2);
                    }
                });
        }
        addrow('#customeType');
    });
</script>
}