﻿@model L01.Models.CustomerType;
@{
    ViewData["Title"] = "CustomerType";
}
@section Breadcrumb{
    <ul class="navbar-nav breadcrumb-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home / CustomerType / Remove / @Model.Id</a>
        </li>
    </ul>
}
<form asp-controller="CustomerType" asp-action="Remove" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="col">
                <h4>Remove Customer Type</h4>
                <p>Remove Customer Type from Database.</p>
            </div>
        </div><!--End col-md-4-->
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Are You Sure Want to Delete ?</h5>
                            <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #FF9800;font-size: 22px;padding-right: 10px;display:inline-block;"></i>
                            <p style="display:inline-block;">This Will Delete Customer Type <span style="font-weight:bold;">"@Model.Id-@Model.Name"</span> From You Database.</p>
                        </div>
                        <div class="col-sm-12">
                            <a class="btn btn-outline-danger pull-right btn-sm" asp-area="" asp-controller="CustomerType" asp-action="Index">Cancel</a>
                            <a asp-area="" asp-controller="CustomerType" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-primary pull-right btn-sm" style="margin-right:10px;">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>