﻿@model L01.Models.Customer;
@{
    ViewData["Title"] = "Customer";
}
@section Breadcrumb{
<ul class="navbar-nav breadcrumb-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home / Customer / Add</a>
    </li>
</ul>
}
<form asp-controller="Customer" asp-action="Add" method="post">
    <div class="row" style="padding-bottom:105px !important;">
        <div class="col-md-4">
            <div class="col">
                <h4>Customer Information</h4>
                <p>Plase, Fill Customer Information.</p>
            </div>
        </div><!--col-md-4-->
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" id="id" asp-for="Id"/>
                        <div class="col-sm-6">
                            <div form-group>
                                <label for="code" style="font-weight:normal;">Code</label>
                                <input asp-for="Code" class="form-control" type="text" id="code" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" style="font-weight:normal;">Name</label>
                                <input asp-for="Name" type="text" class="form-control" id="name" />
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="dob" style="font-weight:normal;">Date of Birth</label>
                                <div class="input-group">
                                    <input type="text" class="form-control float-right" id="dob" autocomplete="off" asp-for="dob">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Sex" style="font-weight:normal;">Gender</label>
                                <select class="form-control" style="width: 100%;" asp-for="Sex" id="sex">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_type" style="font-weight:normal;">Customer Type</label>
                                <select class="form-control select2" style="width: 100%;" asp-for="CustomerTypeid" id="CustomerTypeid" asp-items="@(new SelectList(ViewBag.customer,"Id","Name"))">
                                    <option></option>
                                </select>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="identity_card_no" style="font-weight:normal;">Identity Card No</label>
                                <input asp-for="IdCard" type="text" class="form-control" id="identity_card_no" />
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phone" style="font-weight:normal;">Phone</label>
                                <input asp-for="Phone" type="text" class="form-control" id="phone" data-inputmask='"mask": "(999) 999-9999"' placeholder="(999) 999-9999" data-mask>
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email" style="font-weight:normal;">Email</label>
                                <input asp-for="Email" type="text" class="form-control" id="email" />
                            </div>
                        </div><!--col-sm-6-->
                        <div class="col">
                            <div class="form-group">
                                <label for="address" style="font-weight:normal;">Address</label>
                                <textarea class="form-control" id="address" rows="3" asp-for="Address"></textarea>
                            </div>
                        </div><!--col text area-->
                    </div>
                </div><!--card-body-->
            </div><!--card card-default-->
        </div><!--col-md-8-->
        <div class="col-md-4">
            <div class="col">
                <h4>Photo</h4>
                <p>Upload Photo of Customer.</p>
            </div>
        </div><!--col-md-4-->
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input type="file" name="photp" class="file" asp-for="images" hidden/>
                                <div class="col" style="margin-bottom: 10px !important;">
                                    <button type="button" class="browse btn btn-outline-primary">Browse</button>
                                </div>
                                <div class="col-sm-3">
                                    <img src="~/images/default-thumbnail.jpg" alt="..." width="130" height="130" class="img-thumbnail" id="preview">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--card card-default of photo-->
        </div><!--close col-md-8 of photo-->
    </div><!--/ row -->
    <div class="submib-fixed" style="position: fixed; bottom: 0%; left: 0%; background-color: #fbfbfb; width: 100%; padding: 8px;border-top:1px solid #ebe8e8;">
        <a class="btn btn-outline-danger pull-right btn-sm" asp-area="" asp-controller="Customer" asp-action="Index">Cancel</a>
        <button type="submit" class="btn btn-outline-primary btn-sm pull-right" style="margin-right: 10px;padding: 4px 12px 5px 12px;">Save</button>
    </div>
</form>
@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dob').datepicker({
                todayBtn: "linked",
                'format': 'yyyy-mm-dd',
                'autoclose' : true
            });
            $('.select2').select2({
                placeholder: 'Customer Type',
                allowClear: true,
                disabled: false,
            });
            $('[data-mask]').inputmask();
        });
        $(document).on("click", ".browse", function () {
            var file = $(this)
                .parent()
                .parent()
                .parent()
                .find(".file");
            file.trigger("click");
        });
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").val(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });
    </script>
}