﻿@model L01.Logic.PaginatedList<L01.Models.Customer>;
@{
    ViewData["Title"] = "Customer";
}
@section Breadcrumb{
    <ul class="navbar-nav breadcrumb-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home / Customer</a>
        </li>
    </ul>
    <ul class="navbar-nav" style="position: absolute; right: 0; margin-right: 20px; ">
        <li class="nav-item">
            <a asp-area="" asp-controller="Customer" asp-action="Add" class="btn btn-primary btn-sm" style="margin-right: 8px;">
                <i class="fa fa-plus-square-o" aria-hidden="true" style="margin-right: 5px;"></i>Add
            </a>
        </li>
        <li class="nav-item">
            <button class="btn btn-success btn-sm" style="margin-right: 8px;"><i class="fa fa-file-excel-o" aria-hidden="true" style="margin-right: 5px;"></i>Export</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-danger btn-sm"><i class="fa fa-print" aria-hidden="true" style="margin-right: 5px;"></i>Print</button>
        </li>
    </ul>
}
<div class="card card-default">
    <div class="card-body table-responsive">
        <div class="row">
            <table class="table table-hover cus_table" id="customer">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Code</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th style="text-align:right;">Actions</th>
                </tr>
                @{ if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr id="border">
                                <td></td>
                                <td>@(item.Code == null ? "-" : $"{item.Code} - {item.Name}")</td>
                                <td>@(item.Phone == null ? "-" : item.Phone)</td>
                                <td>@(item.Email == null ? "-" : item.Email)</td>
                                <td>@(item.Address == null ? "-" : item.Address)</td>
                                <td style="text-align:right;">
                                    <div class="btn-group">
                                        <a asp-area="" asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a asp-area="" asp-controller="Customer" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="border">
                            <th></th>
                            <td>No Data.</td>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div><!--end card card-default-->
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        var addrow = function (cl) {
            var table = document.querySelector('#customer' + cl);
            var trs = table.querySelectorAll('tr');
            var counter = 1;
            Array.prototype.forEach.call(trs,
                function (x, i) {
                    var firstChild = x.children[0];
                    if (firstChild.tagName === 'TD') {
                        var cell = document.createElement('td');
                        cell.textContent = counter++;
                        x.insertBefore(cell, firstChild);
                    } else {
                        firstChild.setAttribute('colspan', 2);
                    }
                });
        }
        addrow('#customer');
    });
    </script>
}